
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AB Testing Demo</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <h1>AB Testing Page</h1>
    <button id="button1" class="trackable">Click and Track Button 1</button>
    <button id="button2" class="trackable">Click and Track Button 2</button>
    <p>RESULTS:</p>
    {% for item in experiments %}
        <span>Clicked:  {{item.item_clicked}}</span><br>
    {% endfor %}

    <script type="text/javascript" src="./static/js/index.js"></script>
    <script type="text/javascript" src="./static/js/tracker.js"></script>
</body>

</html>